#Remove 'sample' from filename. DO it in all other sample files.
POSTGRES_USER=<SAMPLE_VALUE_INSERT_YOUR_OWN>
POSTGRES_PASSWORD=<SAMPLE_VALUE_INSERT_YOUR_OWN>
POSTGRES_DB=<SAMPLE_VALUE_INSERT_YOUR_OWN>

PGADMIN_DEFAULT_EMAIL=<SAMPLE_VALUE_INSERT_YOUR_OWN>
PGADMIN_DEFAULT_PASSWORD=<SAMPLE_VALUE_INSERT_YOUR_OWN>

# Backend / Spring
DB_HOST=carshop-db
DB_PORT=5432
SERVER_PORT=8080
JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
JPA_HIBERNATE_DDL_AUTO=validate
APP_SCHEMA=car_shop

# Flyway
FLYWAY_ENABLED=true
FLYWAY_LOCATIONS=classpath:db/migration
FLYWAY_CREATE_SCHEMAS=true
FLYWAY_VALIDATE_ON_MIGRATE=true
FLYWAY_BASELINE_ON_MIGRATE=false
FLYWAY_CLEAN_DISABLED=true

# Keycloak admin
KC_ADMIN=<SAMPLE_VALUE_INSERT_YOUR_OWN>
KC_ADMIN_PASSWORD=<SAMPLE_VALUE_INSERT_YOUR_OWN>

# Keycloak realm
KC_REALM_ID=workshop
KC_REALM_NAME=Workshop

# Keycloak role
KC_ROLE_MANAGE_CARS=manage-cars

# Keycloak test user
KC_USERNAME=<SAMPLE_VALUE_INSERT_YOUR_OWN>
KC_USER_FIRST=<SAMPLE_VALUE_INSERT_YOUR_OWN>
KC_USER_LAST=<SAMPLE_VALUE_INSERT_YOUR_OWN>
KC_USER_EMAIL=<SAMPLE_VALUE_INSERT_YOUR_OWN>
KC_USER_PASSWORD=<SAMPLE_VALUE_INSERT_YOUR_OWN>

# Keycloak client
KC_CLIENT_ID=<SAMPLE_VALUE_INSERT_YOUR_OWN>
KC_REDIRECT_URIS=<SAMPLE_VALUE_INSERT_YOUR_OWN>
KC_POST_LOGOUT_URIS=<SAMPLE_VALUE_INSERT_YOUR_OWN>
KC_WEB_ORIGINS=<SAMPLE_VALUE_INSERT_YOUR_OWN>

# Keycloak server
KC_HTTP_RELATIVE_PATH=/auth
KC_PROXY_HEADERS=xforwarded
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_URL=https://localhost:8443/auth
