@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

/* Define Less tokens FIRST (must be actual colors) */
@root-entry-name: default;
@primary-color: #1E4969;
@layout-header-background: #121B22;
@form-vertical-label-padding: 0 0 0;
@font-family: 'Noto Sans', sans-serif;
