.footer-height {
    height: 75px;
}

.footer-background {
    background: var(--app-dark-blue);
}

.footer-text {
    font-size: small;
    font-style: italic;
}

.color-wheat {
    color: var(--app-light-creme);
}

.pl-5px {
    padding: 0 0 0 5px;
}