.footer-height {
    height: 75px;
}

.footer-background {
    background: #001529
}

.footer-text {
    font-size: small;
    font-style: italic;
}

.color-wheat {
    color: wheat;
}

.pl-5px {
    padding: 0 0 0 5px;
}