.pw {
  border: 2px solid var(--primary-5);
  background: var(--primary-2);
  border-radius: 12px;
  padding: 20px 24px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-9);
    margin: 0;
  }

  &__actions {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }
}
