:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.draft-btn {
  background-color: var(--secondary-6) !important;
  color: var(--primary-2) !important;
  border-color: var(--secondary-6) !important;

  &:hover {
    background-color: var(--secondary-5) !important;
    border-color: var(--secondary-5) !important;
  }
}

.save-btn {
  background-color: var(--secondary-9) !important;
  color: var(--primary-2) !important;
  border-color: var(--secondary-9) !important;

  &:hover {
    background-color: var(--secondary-7) !important;
    border-color: var(--secondary-7) !important;
  }

  &:disabled {
    background-color: var(--primary-5) !important;
    border-color: var(--primary-5) !important;
    color: var(--primary-2) !important;
    cursor: not-allowed;
  }
}
