<nz-layout>
    <nz-header nz-flex nzJustify="space-between">
        <nz-space nzSize="middle">
            <div class="hover-pointer logo-color" *nzSpaceItem>
                <img
                        ngSrc="../../../assets/icons/logo.svg"
                        height="50"
                        width="100"
                        alt="logo"
                        priority
                     (click)="navigateToHomePage()"/>
            </div>
            <div *nzSpaceItem>
                <ul nz-menu nzTheme="dark" nzMode="horizontal">
                    <li class="text-color" nz-menu-item [nzSelected]="isSelected('/home')" routerLink="/home">{{ 'main_page' | translate }}</li>
                    <li class="text-color" nz-menu-item [nzSelected]="isSelected('/cars')" routerLink="/cars">{{ 'all_cars' | translate }}</li>
                    @if (isManager()) {
                        <li class="text-color" nz-menu-item [nzSelected]="isSelected('/manage-cars')" routerLink="/manage-cars">{{ 'manage_cars' | translate }}</li>
                    }
                </ul>
            </div>
        </nz-space>
        <div>
            <ul nz-menu nzTheme="dark" nzMode="horizontal">
                @if (!isLoggedIn()) {
                    <li nz-menu-item [nzSelected]="isSelected('/login')" routerLink="/login">{{ 'login' | translate }}</li>
                } @else if (isLoggedIn()) {
                    <li nz-menu-item [nzSelected]="isSelected('/logout')" (click)="logout()">{{ 'logout' | translate }}</li>
                }
            </ul>
        </div>
    </nz-header>
</nz-layout>
