<div
        nz-flex
        nzWrap="wrap"
        nzGap="middle">
    <nz-card class="width-450" [nzTitle]="translateService.instant('contact_info')">
        <b>{{'owner_name' | translate}}</b>
        <div>{{'phone' | translate}} </div>
    </nz-card>
    <div>
        <app-car-card-component></app-car-card-component>
    </div>
    <div>
        <app-car-card-component></app-car-card-component>
    </div>
    <div>
        <app-car-card-component></app-car-card-component>
    </div>
    <div>
        <app-car-card-component></app-car-card-component>
    </div>
    <div>
        <app-car-card-component></app-car-card-component>
    </div>
    <div>
        <app-car-card-component></app-car-card-component>
    </div>
</div>

